/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc8019;
    padding: 10px 20px;
   
    
}

.logo {
    width: 140px;
    background-color: white;
}

.nav-items {
    font-size: 18px;
}

.nav-items > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-items > ul > li {
    margin: 0 10px;
}

.nav-items > ul > li > a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.nav-items > ul > li > a:hover {
    background-color: #ffae42;
    border-radius: 5px;
}

/* Restaurant Card Styles */
.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}

/* Search Component Styles */
.search {
    padding: 10px;
}
